@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->


<address>
    <strong>Contact:</strong>   <a href="X00097735@outlook.com">info@dublindon.com</a><br />
</address>