@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Temporary image retrived online 01-11-2015 http://www.ebay.ie/itm/DUBLIN-Irish-County-Crest-Logo-Decal-Car-Sticker-/140553068064-->
    <img src="~/content/images/dublin.jpg" width="220" height="170" alt="Dublin coat of arms" /><h1>Dublin Don</h1>
    <p class="lead">Dublin Don is a uniquely Irish card game. Played by four players in teams of two. It is a game of concentration tactics and memory.</p>
</div>

