
@{
    ViewBag.Title = "SinglePlayer";
}
<div class="row">
    <div class="col-sm-3"><h2>Single Player Game</h2></div>
    <div class="col-sm-6">
            <div class="radio">
                <label><input checked type="radio" name="optradio">Novice Level</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="optradio" disabled>Intermediate Level</label>
            </div>
            <div class="radio disabled">
                <label><input type="radio" name="optradio" disabled>Advanced Level</label>
            </div>
        <a href='@Url.Action("NoviceLevel", "Cards")'>
            <img src='@Url.Content("~/Content/Images/startButton.jpg")' />
        </a>
    </div>
    <div class="col-sm-3"><h2>Choose a Level to play game</h2></div>
</div>

