
@{
    ViewBag.Title = "SinglePlayer";
}



<style type="text/css">
    .col-sm-3 {
        background-color: green;
        height: 150px;
    }

    .col-sm-6 {
        background-color: green;
        height: 150px;
    }

    #playerDisplay {
        position: absolute;
    }

    #player1_card1 {
        position: absolute;
        left: 170px;
        top: 0px;
        z-index: 1;
    }

    #player1_card2 {
        position: absolute;
        left: 185px;
        top: 0px;
        z-index: 2;
    }

    #player1_card3 {
        position: absolute;
        left: 200px;
        top: 0px;
        z-index: 3;
    }

    #player1_card4 {
        position: absolute;
        left: 215px;
        top: 0px;
        z-index: 4;
    }

    #player1_card5 {
        position: absolute;
        left: 230px;
        top: 0px;
        z-index: 5;
    }

    #player1_card6 {
        position: absolute;
        left: 245px;
        top: 0px;
        z-index: 6;
    }

    #player1_card7 {
        position: absolute;
        left: 260px;
        top: 0px;
        z-index: 7;
    }

    #player1_card8 {
        position: absolute;
        left: 275px;
        top: 0px;
        z-index: 8;
    }

    #player1_card9 {
        position: absolute;
        left: 290px;
        top: 0px;
        z-index: 9;
    }

    #player1_card10 {
        position: absolute;
        left: 305px;
        top: 0px;
        z-index: 10;
    }

    #player1_card11 {
        position: absolute;
        left: 320px;
        top: 0px;
        z-index: 11;
    }

    #player1_card12 {
        position: absolute;
        left: 335px;
        top: 0px;
        z-index: 12;
    }

    #player1_card13 {
        position: absolute;
        left: 350px;
        top: 0px;
        z-index: 13;
    }

    #player2_card1 {
        position: absolute;
        left: 170px;
        top: 0px;
        z-index: 1;
    }

    #player2_card2 {
        position: absolute;
        left: 185px;
        top: 0px;
        z-index: 2;
    }

    #player2_card3 {
        position: absolute;
        left: 200px;
        top: 0px;
        z-index: 3;
    }

    #player2_card4 {
        position: absolute;
        left: 215px;
        top: 0px;
        z-index: 4;
    }

    #player2_card5 {
        position: absolute;
        left: 230px;
        top: 0px;
        z-index: 5;
    }

    #player2_card6 {
        position: absolute;
        left: 245px;
        top: 0px;
        z-index: 6;
    }

    #player2_card7 {
        position: absolute;
        left: 260px;
        top: 0px;
        z-index: 7;
    }

    #player2_card8 {
        position: absolute;
        left: 275px;
        top: 0px;
        z-index: 8;
    }

    #player2_card9 {
        position: absolute;
        left: 290px;
        top: 0px;
        z-index: 9;
    }

    #player2_card10 {
        position: absolute;
        left: 305px;
        top: 0px;
        z-index: 10;
    }

    #player2_card11 {
        position: absolute;
        left: 320px;
        top: 0px;
        z-index: 11;
    }

    #player2_card12 {
        position: absolute;
        left: 335px;
        top: 0px;
        z-index: 12;
    }

    #player2_card13 {
        position: absolute;
        left: 350px;
        top: 0px;
        z-index: 13;
    }

    #player1_card13 {
        position: absolute;
        left: 350px;
        top: 0px;
        z-index: 13;
    }

    #player3_card1 {
        position: absolute;
        left: 170px;
        top: 0px;
        z-index: 1;
    }

    #player3_card2 {
        position: absolute;
        left: 185px;
        top: 0px;
        z-index: 2;
    }

    #player3_card3 {
        position: absolute;
        left: 200px;
        top: 0px;
        z-index: 3;
    }

    #player3_card4 {
        position: absolute;
        left: 215px;
        top: 0px;
        z-index: 4;
    }

    #player3_card5 {
        position: absolute;
        left: 230px;
        top: 0px;
        z-index: 5;
    }

    #player3_card6 {
        position: absolute;
        left: 245px;
        top: 0px;
        z-index: 6;
    }

    #player3_card7 {
        position: absolute;
        left: 260px;
        top: 0px;
        z-index: 7;
    }

    #player3_card8 {
        position: absolute;
        left: 275px;
        top: 0px;
        z-index: 8;
    }

    #player3_card9 {
        position: absolute;
        left: 290px;
        top: 0px;
        z-index: 9;
    }

    #player3_card10 {
        position: absolute;
        left: 305px;
        top: 0px;
        z-index: 10;
    }

    #player3_card11 {
        position: absolute;
        left: 320px;
        top: 0px;
        z-index: 11;
    }

    #player3_card12 {
        position: absolute;
        left: 335px;
        top: 0px;
        z-index: 12;
    }

    #player3_card13 {
        position: absolute;
        left: 350px;
        top: 0px;
        z-index: 13;
    }

    #player1_card13 {
        position: absolute;
        left: 350px;
        top: 0px;
        z-index: 13;
    }

    #player4_card1 {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
    }

    #player4_card2 {
        position: absolute;
        left: 15px;
        top: 0px;
        z-index: 2;
    }

    #player4_card3 {
        position: absolute;
        left: 30px;
        top: 0px;
        z-index: 3;
    }

    #player4_card4 {
        position: absolute;
        left: 455px;
        top: 0px;
        z-index: 4;
    }

    #player4_card5 {
        position: absolute;
        left: 60px;
        top: 0px;
        z-index: 5;
    }

    #player4_card6 {
        position: absolute;
        left: 75px;
        top: 0px;
        z-index: 6;
    }

    #player4_card7 {
        position: absolute;
        left: 90px;
        top: 0px;
        z-index: 7;
    }

    #player4_card8 {
        position: absolute;
        left: 105px;
        top: 0px;
        z-index: 8;
    }

    #player4_card9 {
        position: absolute;
        left: 120px;
        top: 0px;
        z-index: 9;
    }

    #player4_card10 {
        position: absolute;
        left: 135px;
        top: 0px;
        z-index: 10;
    }

    #player4_card11 {
        position: absolute;
        left: 150px;
        top: 0px;
        z-index: 11;
    }

    #player4_card12 {
        position: absolute;
        left: 165px;
        top: 0px;
        z-index: 12;
    }

    #player4_card13 {
        position: absolute;
        left: 180px;
        top: 0px;
        z-index: 13;
    }
</style>

<div class="row">
    <div class="col-sm-3"><h2>Single Player Game</h2></div>
    <div class="col-sm-6">
        <div class="text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-success">Start</button>
                <button type="button" class="btn btn-success">Pause/Save</button>
                <div class="btn-group">
                    <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Level<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Novice</a></li>
                        <li><a href="#">Intermediate</a></li>
                        <li><a href="#">Advanced</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"><h2>YourTeam's Score  <p class="text-center"><span class="label label-default">35</span></p></h2> </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">
            <div id="playerDisplay">
                <img id="player2_card1" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card2" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card3" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card4" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card5" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card6" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card7" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card8" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card9" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card10" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card11" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card12" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player2_card13" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
            </div>
        </div>
        <div class="col-sm-3"> </div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-sm-3">
            <div id="playerDisplay">
                <img id="player3_card1" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card2" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card3" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card4" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card5" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card6" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card7" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card8" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card9" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card10" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card11" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card12" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player3_card13" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
            </div>
        </div>
        <div class="col-sm-6">trick cards here </div>
        <div class="col-sm-3">
            <div id="playerDisplay">
                <img id="player4_card1" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card2" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card3" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card4" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card5" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card6" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card7" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card8" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card9" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card10" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card11" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card12" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
                <img id="player4_card13" src="~/Content/images/Pattern4.bmp" alt="Card Face Down" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <div class="col-sm-3"> </div>
        <div class="col-sm-6">
            <div id="playerDisplay">
                <img id="player1_card1" src="~/Content/images/Bmp9.bmp" alt="Card 1" />
                <img id="player1_card2" src="~/Content/images/Bmp10.bmp" alt="Card 2" />
                <img id="player1_card3" src="~/Content/images/Bmp11.bmp" alt="Card 3" />
                <img id="player1_card4" src="~/Content/images/Bmp1.bmp" alt="Card 4" />
                <img id="player1_card5" src="~/Content/images/Bmp19.bmp" alt="Card 5" />
                <img id="player1_card6" src="~/Content/images/Bmp22.bmp" alt="Card 6" />
                <img id="player1_card7" src="~/Content/images/Bmp24.bmp" alt="Card 7" />
                <img id="player1_card8" src="~/Content/images/Bmp28.bmp" alt="Card 8" />
                <img id="player1_card9" src="~/Content/images/Bmp30.bmp" alt="Card 9" />
                <img id="player1_card10" src="~/Content/images/Bmp31.bmp" alt="Card 10" />
                <img id="player1_card11" src="~/Content/images/Bmp48.bmp" alt="Card 11" />
                <img id="player1_card12" src="~/Content/images/Bmp51.bmp" alt="Card 12" />
                <img id="player1_card13" src="~/Content/images/Bmp52.bmp" alt="Card 13" />
            </div>
        </div>
        <div class="col-sm-3"> </div>
    </div>
</div>



